// HEADER
.header-brand {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 5%;
    gap: 2rem;
    
    &__logo {
        height: 4rem; 
    }

    &__name {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: .7rem;
        font-weight: 700;
        font-style: italic;
        color: var(--color-grey-light-1);
        text-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.5);
    }
}

.user-nav {

    display: flex;
    align-content: center;
    gap: 3rem;
    background-color: transparent;

    &__button {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-weight: 400;
        font-size: 2.2rem;
        text-align: center;
        width: 20rem;

        border-radius: 100px;
        padding: 0.5rem 3rem;
        background-color: var(--color-grey-light-1);
        color: var(--color-primary);
        transition: all 0.1s ease; 

        box-shadow: var(--shadow-dark-small);
        transform: scale(1);

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: #FFF;
            transform: scale(1.05);
            font-weight: 700;
        }
    }
}

.icon-container {

    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    gap: 2rem;

    &__icon {
        text-decoration: none;
        padding: 2.2rem; 

        display: inline-flex; 
        width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        
        border-radius: 50%; 
        background-color: var(--color-grey-light-1);

        transition: all 0.1s ease; 

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);

            i {
                color: #FFF;
            }
        }

        i {
            font-size: 1.6rem;
            color: var(--color-primary); 
        }
    }
}

// INDEX PAGE
.landing-image {
    position: relative;
    height: 85vh;

    background-image: url("https://images.stockcake.com/public/9/f/1/9f156348-4b50-4ffb-9dda-d3a00537a4c9/healthy-meal-prep-stockcake.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-image: linear-gradient(to right bottom, rgba(139, 195, 75, 0.4), rgba(56, 142, 60, 0.4));
        z-index: 1;
    }

    &__content {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .subtitle {
            font-family: var(--font-primary);
            font-size: 4.5rem;
            font-weight: 200;
            letter-spacing: 1rem;
            text-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            margin-bottom: 4rem;
            
            color: var(--color-grey-light-1);
            z-index: 2;
        }

        .main-button {
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: .3rem;
            font-weight: 400;
            font-size: 2.5rem;
            display: inline-block;
            z-index: 10;

            border-radius: 100px;
            padding: 1.8rem 3rem;

            background-color: var(--color-grey-light-1);
            color: var(--color-primary);
            box-shadow: var(--shadow-dark);

            transition: all 0.1 ease;

            &:hover {
                background-color: rgba(76, 175, 80, 0.4);
                color: #FFF;
                font-weight: 700;
                text-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.5);
            }
        }
    }
}
