{% extends 'base.html' %}
{% load static %}
{% block title %}Payment Successfull{% endblock %}
{% block content %}
{% include 'header.html' %}

<div class="page-container">
    <div class="payment-info round-card">
        <div class="payment-info__title">
            Your Payment Was Successfull
        </div>
        <div class="payment-info__description">
            Order was created now and will be shipped shortly.
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}