{% extends 'base.html ' %}
{% load static %}
{% block content %}
<header class="header">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    
    <div class="header-brand">
        <img class="logo-img" src="{% static 'img/logo.png' %}" alt="Fit Fuel Logo">
        <a href="{% url 'index' %}" class="header-brand__name">Fit-Fuel</a>
    </div>
    <div class="user-nav">
        <a class="nav-button" href="{% url 'menu' %}">Menu</a>
        <a class="nav-button" href="{% url 'contact' %}">Contact</a>
    </div>
    <div class="icon-container">
        <a class="icon-link" id="cart" href="#" data-bs-custom-class="custom-popover">
            <i class="fi fi-rs-shopping-cart-add"></i>
        </a>
        <span id="cart-number" class="icon-container__cart">0</span>

        <div class="dropdown">
            <a class="icon-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fi fi-rs-user"></i>
            </a>

            <ul class="dropdown-menu">
                {% if not user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="dropdown nav-button-dropdown">
            <a class="icon-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fi fi-rr-menu-burger"></i>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'menu' %}">Menu</a></li>
                <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>

    </div>
</header>


<script type="text/javascript">

let cart = {}; 
let cartPopoverInstance; 
let cartNumber;
let csrftoken; 

// Update all Macros based on selected Portion
function updateItemMacros(selectedRadio) {
    const itemContainer = selectedRadio.closest('.item-container');
    const macrosDisplayElements = {
        carbs: itemContainer.querySelector('[data-type="carbs"]'),
        proteins: itemContainer.querySelector('[data-type="protein"]'),
        fats: itemContainer.querySelector('[data-type="fats"]'),
        calories: itemContainer.querySelector('[data-type="calories"]')
    };
    const carbs = selectedRadio.dataset.carbs || '0';
    const proteins = selectedRadio.dataset.proteins || '0';
    const fats = selectedRadio.dataset.fats || '0';
    const calories = selectedRadio.dataset.calories || '0';

    macrosDisplayElements.carbs.textContent = "Carbs: " + carbs + "g";
    macrosDisplayElements.proteins.textContent = "Protein: " + proteins + "g";
    macrosDisplayElements.fats.textContent = "Fats: " + fats + "g";
    macrosDisplayElements.calories.textContent = "Kcal: " + calories;
}

// Updating Cart Display
function updateCartDisplay() {
    let currentCartState = JSON.parse(localStorage.getItem('cart'));    
    let cartString = '';
    let totalQuantity = 0;

    if (currentCartState) { 
        for (const itemID in currentCartState) { 
            const cartEntry = currentCartState[itemID];
            const itemDetails = cartEntry[0]; 
            const quantity = cartEntry[1];     

            totalQuantity += quantity; 

            // Truncate the name so it can fit better
            displayName = itemDetails.name;
            if (displayName.length > 19) {
                displayName = displayName.substring(0, 19) + '..';
            }

            cartString += `
                <div class="item-layout">
                    <img class="item-layout__image" src="${itemDetails.image}" alt="Cart Entry Image">
                    <div class="item-layout__info">
                        <p class="item-layout__info-name">${displayName}</p>

                        <div class="item-layout__info-type">
                            <div class="item-layout__info-type-portion">${itemDetails.portion_name}</div>

                            <div class="item-layout__info-type-actions">
                                <p class="item-layout__info-type-actions-value">x${quantity}</p>
                                <a href="#" id="${itemID}" class="item-layout__info-type-actions-remove">-</a>
                                <p class="item-layout__info-type-actions-price">${itemDetails.price}€</p>
                            </div>
                        </div>
                    </div>
                </div>
            `;
        }
    }

    if (totalQuantity > 0) { 
        cartString += `
            <a id="checkout-button" class="nav-button" href="#">Checkout</a>
        `;
    }
    
    let popoverBodyContent;
    if (totalQuantity === 0) { 
        popoverBodyContent = 'Your cart is empty.';
    } else {
        popoverBodyContent = cartString;
    }

    cartPopoverInstance.setContent({
        '.popover-header': 'Cart',
        '.popover-body': popoverBodyContent
    });

    cartNumber.innerHTML = totalQuantity;
}

// Adding items to the Cart
function addToCart(buttonElement, event) {
    event.preventDefault();

    const itemContainer = buttonElement.closest('.item-container');
    const selectedPortionRadio = itemContainer.querySelector('input[name="selected_portion"]:checked');
    if (selectedPortionRadio) {

        const portionID = selectedPortionRadio.id.replace('portion-', '');
        let finalPrice;

        const priceSpan = selectedPortionRadio.nextElementSibling.querySelector('.item-container__portion-container-option__price');
        const discountPriceSpan = selectedPortionRadio.nextElementSibling.querySelector('.item-container__portion-container-option__price-discount');

        // Use the discounted price if it exists
        if (discountPriceSpan) {
            finalPrice = parseFloat(discountPriceSpan.textContent.replace('€', '').trim());
        } else {
            finalPrice = parseFloat(priceSpan.textContent.replace('€', '').trim());
        }

        if(cart[portionID] === undefined) {
            // Anchor tag stores all menu item information for frontend display
            const anchorTag = buttonElement.querySelector('a');

            const portionName = selectedPortionRadio.nextElementSibling.querySelector('.item-container__portion-container-option__name').textContent

            const itemProperties = {
                'image': anchorTag.dataset.image,
                'name': anchorTag.dataset.name,
                'price': finalPrice,
                'portion_name': portionName
            };

            cart[portionID] = [itemProperties, 1];
        }
        else {
            cart[portionID][1] += 1;
        }

        localStorage.setItem('cart', JSON.stringify(cart));
        updateCartDisplay();
    }    
}

async function proceedToCheckout(event) {
    event.preventDefault();

    const currentLocalStorageCartRaw = localStorage.getItem('cart');
    const cartJsonData = currentLocalStorageCartRaw;
    const cartData = cartJsonData ? JSON.parse(cartJsonData) : {};

    const checkoutButton = event.target.closest('#checkout-button');
    if (checkoutButton) {
        checkoutButton.disabled = true;
        checkoutButton.textContent = 'Loading';
    }

    try {
        const response = await fetch('{% url "update_session_cart" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ cart: cartData })
        });

        const responseText = await response.text(); 
        let responseData = {};

        try {
            responseData = JSON.parse(responseText);
        } catch (jsonError) {
            alert('Server returned an unexpected response from API in the proceedtoCheckout function.');
            throw new Error('Non-JSON response from server API, proceedToCheckout function error.');
        }

        if (response.ok) {
            window.location.href = '{% url "checkout_page" %}';
        } else {
            console.error("Response is false in proceedToCheckout. Status:", response.status);
            alert('Error updating cart on server: ' + (responseData.message || `Server responded with status ${response.status}.`));
            if (checkoutButton) {
                checkoutButton.disabled = false;
                checkoutButton.textContent = 'Checkout';
            }
        }
    } catch (error) {
        alert('An unexpected error occurred during cart sync. Please try again. Check browser console for more details.');
        if (checkoutButton) {
            checkoutButton.disabled = false;
            checkoutButton.textContent = 'Checkout';
        }
    }
}

document.addEventListener('DOMContentLoaded', function() {
    try {
        cart = JSON.parse(localStorage.getItem('cart')) || {}; 
    } catch (e) {
        console.error("Error parsing cart from localStorage:", e);
        cart = {};
    }

    // CSRF Token is in the base.html meta tag
    csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
 
    const cartPopoverElement = document.getElementById('cart');
    cartPopoverInstance = bootstrap.Popover.getInstance(cartPopoverElement);
    if (!cartPopoverInstance) {
        cartPopoverInstance = new bootstrap.Popover(cartPopoverElement, {
            html: true,
            content: 'Your cart is empty.',
            trigger: 'focus',  
            placement: 'bottom',
        });
    }

    cartNumber = document.getElementById('cart-number');

    // Binding Portion Radios for Macros
    const portionRadioButtons = document.getElementsByName('selected_portion');
    Array.from(portionRadioButtons).forEach(radio => {
        radio.addEventListener('change', function() { updateItemMacros(this); });
    });

    const allInitiallyCheckedRadios = document.querySelectorAll('input[type="radio"]:checked');
    allInitiallyCheckedRadios.forEach(radio => {
        radio.addEventListener('change', function() { updateItemMacros(this); });
        updateItemMacros(radio); 
    });

    // Binding Add-to-Cart Buttons
    const cartButtons = document.querySelectorAll('.item-container__cart-button');
    cartButtons.forEach(buttonElement => {
        buttonElement.addEventListener('click', function(event) { addToCart(this, event); });
    });

    // Initial Cart Display
    updateCartDisplay();

    // Binding event for Remove Buttons in the cart
    document.body.addEventListener('click', function (event) {
        const removeButton = event.target.closest('.item-layout__info-type-actions-remove');
        if (!removeButton) return;

        event.preventDefault();
        const itemID = removeButton.id;

        if (cart[itemID]) {
            cart[itemID][1]--; 

            if (cart[itemID][1] <= 0) {
                delete cart[itemID];
            }

            localStorage.setItem('cart', JSON.stringify(cart));
            updateCartDisplay();
        }
    });

    // Binding the Checkout Button
    document.body.addEventListener('click', (event) => {
        const checkoutButton = event.target.closest('#checkout-button');
        if (checkoutButton) {
            proceedToCheckout(event); 
        }
    });

});

</script>

{% endblock %}