{% extends 'base.html ' %}
{% load static %}
{% block content %}
<header class="header">

    <div class="header-brand">
        <img class="header-brand__logo" src="{% static 'img/logo.png' %}">
        <div class="header-brand__name">Fit-Fuel</div>
    </div>
    <div class="user-nav">
        <a class="user-nav__button" href="#">Menu</a>
        <a class="user-nav__button" href="#">Discounts</a>
        <a class="user-nav__button" href="#">Contact</a>
    </div>
    <div class="icon-container">
        <a class="icon-container__icon" href="#">
            <i class="fi fi-rs-shopping-cart-add"></i>
        </a>
        <a class="icon-container__icon" href="#">
            <i class="fi fi-rs-user"></i>
        </a>
    </div>
</header>
{% endblock %}