{% extends 'base.html' %}
{% load static %}
{% block title %}FitFuel - Checkout{% endblock %}
{% block content %}
{% include 'header.html' %}

<div class="page-container">
    <div class="order straight-card">
        <div class="cart-list">
            {% for item in cart_items %}
            <div class="cart-list__item">
                <img src="{{ item.image_url }}" alt="" class="cart-list__item-image">
                <div class="cart-list__item-info">
                    <div class="cart-list__item-info-name">{{ item.menu_item_name }}</div>
                    <div class="cart-list__item-info-portion">
                        <div class="cart-list__item-info-portion-size">{{ item.portion_name }}</div>
                        <div class="cart-list__item-info-portion-quantity">x{{ item.quantity }}</div>
                    </div>
                </div>
                <div class="cart-list__item-price">{{ item.price_per_item }}€</div>
            </div>
            {% endfor %}
        </div>

        <div class="order__total">Total: {{ total_cart_price }}€</div>
    </div>
    <div class="straight-card">
        <form class="card-form info-form" method="POST" action="">
            <h1 class="card-title">Checkout Form</h1>
            {% csrf_token %}
            <div class="card-form__form">
                <div class="card-form__form-section">
                    <label>Email</label>
                    <div for="id_email" class="card-form__form-section-input">{{ checkout_form.email }}</div> 
                </div>
                <div class="card-form__form-section">
                    <label>Phone</label>
                    <div for="id_phone" class="card-form__form-section-input">{{ checkout_form.phone }}</div> 
                </div>
                <div class="card-form__form-section">
                    <label>City</label>
                    <div for="id_city" class="card-form__form-section-input">{{ checkout_form.city }}</div> 
                </div>
                <div class="card-form__form-section">
                    <label>Address</label>
                    <div for="id_address" class="card-form__form-section-input">{{ checkout_form.address }}</div> 
                </div>
                <div class="card-form__form-section">
                    <label>Zipcode</label>
                    <div for="id_zipcode" class="card-form__form-section-input">{{ checkout_form.zip_code }}</div> 
                </div>
                <div id="form-errors"></div>
            </div>

            <button id="main-checkout-button" class="main-button" type="submit">Checkout</button>
        </form>
    </div>
</div>

{% include 'footer.html' %}

<!--Stripe JS CDN-->
<script src="https://js.stripe.com/basil/stripe.js"></script>

<script type="text/javascript">

var stripe = Stripe('{{ stripe_publishable_key }}');
var checkoutForm = document.getElementById('checkoutForm');
var checkoutButton = document.getElementById('main-checkout-button');
var formErrorsDiv = document.getElementById('form-errors');

checkoutButton.addEventListener('click', function() {
    event.preventDefault();
    formErrorsDiv.innerHTML = ''; 

    var emailInput = document.getElementById('id_email');
    var phoneInput = document.getElementById('id_phone');
    var addressInput = document.getElementById('id_address');
    var cityInput = document.getElementById('id_city');
    var zipcodeInput = document.getElementById('id_zipcode');

    var formData = {
        email: emailInput.value.trim(),
        phone: phoneInput.value.trim(),
        address: addressInput.value.trim(),
        zipcode: zipcodeInput.value.trim()
    };

    // --- Client-side Validation ---
    var errors = [];

    if (!formData.email || !formData.phone || !formData.city || !formData.address || !formData.zipcode) {
        errors.push('All fields are required.');
    } else if (!/\S+@\S+\.\S+/.test(formData.email)) {
        errors.push('Please enter a valid email address.');
    }

    if (errors.length > 0) {
        formErrorsDiv.innerHTML = errors.join(' ');
        return;
    }

    checkoutButton.disabled = true;
    checkoutButton.textContent = 'Processing';

    fetch("{% url 'api_checkout_session' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify(formData)
    }).then(function(response) {
        return response.json();
    }).then(function(session) {
        if (session.error) {
            alert('Error creating checkout session: ' + session.error);
            
            checkoutButton.disabled = false;
            checkoutButton.textContent = 'Checkout';
            return;
        }
        return stripe.redirectToCheckout({sessionId: session.sessionId});
    })
})

</script>

{% endblock %}