{% extends 'base.html' %}
{% block title %}FitFuel - Contact{% endblock %}
{% block content %}
{% include 'header.html' %}

<div class="page-container">
    <div class="straight-card contact">
        <h1 class="card-title">Developer Contact</h1>
        <div class="contact-info">
            <div class="contact-info__section">
                <div class="contact-info__section-title">LinkedIn</div>
                <div class="contact-info__section-description">I am active on LinkedIn, visit my profile by going <span><a href="https://www.linkedin.com/in/stefan-krsmanovic-7698a4235/">here</a></span> and send me a connect. You can view my experience, past projects and skills in detail on my profile page.</div>
            </div>
            <div class="contact-info__section">
                <div class="contact-info__section-title">Github</div>
                <div class="contact-info__section-description">
                    For a detail look into how all of this was coded, as well as a complete feature breakdown, stop by my github and checkout the repo <span><a href="https://github.com/Krsmanovic-S/fit-fuel">here</a></span>.
                </div>
            </div>
            <div class="contact-info__section">
                <div class="contact-info__section-title">Email</div>
                <div class="contact-info__section-description">If you have any questions feel free to contact me over email if that is what you prefer. You can send your emails to <span class="email">krsmanovic1998@gmail.com</span> and I'll respond as soon as I can.</div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}