{% extends 'food/base.html' %}
{% load static %}
{% block content %}
<footer class="footer">

    <div class="copyright-text">© 2025 Stefan K.</div>

    <img class="logo-img" src="{% static 'img/logo.png' %}" alt="Fit Fuel Logo">

    <div class="icon-container">
        <a href="https://www.linkedin.com/in/krsmanovic-stefan/" class="icon-link">
            <i class="fi fi-brands-linkedin"></i>
        </a>
        <a href="https://github.com/Krsmanovic-S" class="icon-link">
            <i class="fi fi-brands-github"></i>
        </a>
        <a href="https://t.me/krsmanovics" class="icon-link">
            <i class="fi fi-brands-telegram"></i>
        </a>
    </div>
</footer>
{% endblock %}