{% extends 'base.html' %}
{% block title %}FitFuel{% endblock %}
{% block content %}
{% include 'header.html' %}
<main class="landing-page">
    <div class="landing-image"> 
        <div class="landing-image__content">
            <div class="subtitle">Healthy Meals, Delivered to Your Door.</div>
            <a href="#" class="main-button">Order Now &#8594</a>
        </div>
    </div>

    <div class="benefits">
        <div class="benefits__title">Fueling Your Healthy Lifestyle</div>
        <div class="benefits__showcase">
            <div class="benefits__showcase-item">
                <i class="fi fi-rr-leaf-heart"></i>
                <div class="benefits__showcase-item-content">
                    <h3 class="benefits__showcase-item__heading">Fresh Ingredients</h3>
                    <p class="benefits__showcase-item-text__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci lorem, placerat at euismod eu, molestie in nisi. Curabitur tincidunt dapibus pretium.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rr-clock-time-tracking"></i>
                <div class="benefits__showcase-item-content">
                    <h3 class="benefits__showcase-item__heading">Calorie Tracking</h3>
                    <p class="benefits__showcase-item-text__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci lorem, placerat at euismod eu, molestie in nisi. Curabitur tincidunt dapibus pretium.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rs-users-loyalty"></i>
                <div class="benefits__showcase-item-content">
                    <h3 class="benefits__showcase-item__heading">Loyalty Benefits</h3>
                    <p class="benefits__showcase-item-text__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci lorem, placerat at euismod eu, molestie in nisi. Curabitur tincidunt dapibus pretium.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rr-shipping-fast"></i>
                <div class="benefits__showcase-item-content">
                    <h3 class="benefits__showcase-item__heading">Fast Delivery</h3>
                    <p class="benefits__showcase-item-text__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci lorem, placerat at euismod eu, molestie in nisi. Curabitur tincidunt dapibus pretium.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rr-discount"></i>
                <div class="benefits__showcase-item-content">
                    <h3 class="benefits__showcase-item__heading">Frequent Discounts</h3>
                    <p class="benefits__showcase-item-text__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci lorem, placerat at euismod eu, molestie in nisi. Curabitur tincidunt dapibus pretium.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rs-calendar-lines-pen"></i>
                <div class="benefits__showcase-item-content">
                    <h3 class="benefits__showcase-item__heading">Monthly Plans</h3>
                    <p class="benefits__showcase-item-text__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci lorem, placerat at euismod eu, molestie in nisi. Curabitur tincidunt dapibus pretium.</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}