{% extends 'base.html' %}
{% load static %}
{% block title %}FitFuel{% endblock %}
{% block content %}
{% include 'header.html' %}
<main class="landing-page">
    <div class="landing-image"> 
        <div class="landing-image__content">
            <div class="subtitle">Healthy Meals, Delivered to Your Door.</div>
            <a href="{% url 'menu' %}" class="main-button">Order Now &#8594</a>
        </div>
    </div>

    <div class="benefits">
        <div class="index-title">Fueling Your Healthy Lifestyle</div>
        <div class="benefits__showcase">
            <div class="benefits__showcase-item">
                <i class="fi fi-rr-leaf-heart"></i>
                <div class="benefits__showcase-item-content">
                    <h3>Fresh Ingredients</h3>
                    <p>We source only the finest, locally-sourced produce and premium ingredients, ensuring every meal is bursting with natural goodness and unparalleled taste.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rr-clock-time-tracking"></i>
                <div class="benefits__showcase-item-content">
                    <h3 >Calorie Tracking</h3>
                    <p>Easily monitor your daily intake with precise calorie and macro breakdowns for every dish. Achieve your health goals with transparent, accurate nutritional data.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rs-users-loyalty"></i>
                <div class="benefits__showcase-item-content">
                    <h3>Loyalty Benefits</h3>
                    <p>Join our loyalty program and earn points with every order. Unlock exclusive discounts, special offers, and early access to new menu items as a valued member.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rr-shipping-fast"></i>
                <div class="benefits__showcase-item-content">
                    <h3>Fast Delivery</h3>
                    <p>Get your healthy meals delivered swiftly right to your doorstep. Enjoy fresh, delicious food without the wait, making healthy eating effortlessly convenient.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rr-discount"></i>
                <div class="benefits__showcase-item-content">
                    <h3>Frequent Discounts</h3>
                    <p>Enjoy regular promotions and special savings on your favorite meals. We believe healthy eating should be affordable and accessible to everyone, all the time.</p>
                </div>
            </div>

            <div class="benefits__showcase-item">
                <i class="fi fi-rs-calendar-lines-pen"></i>
                <div class="benefits__showcase-item-content">
                    <h3 >Monthly Plans</h3>
                    <p>Simplify your nutrition with customizable monthly meal plans. Set your preferences, and we'll handle the rest, ensuring consistent, healthy, and diverse meals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="how-it-works">
        <div class="index-title">Your Journey to Healthy Eating</div>
        <div class="how-it-works__container">
            <div class="how-it-works__container-steps">
                <span class="how-it-works__container-steps__number">1</span>

                <div class="how-it-works__container-steps__card">
                    <div class="how-it-works__container-steps__card__title">
                        <img src="{% static 'img/place_order.jpg' %}" alt="">
                        <h3>Place Order</h3>
                    </div>
                    <p>Browse our diverse menu of healthy, delicious meals and customize your order. Easily add items to your cart and proceed to a secure checkout for a seamless experience.</p>
                </div>
            </div>

            <div class="how-it-works__container-steps">
                <span class="how-it-works__container-steps__number">2</span>

                <div class="how-it-works__container-steps__card">
                    <div class="how-it-works__container-steps__card__title">
                        <img src="{% static 'img/await_delivery.jpg' %}" alt="">
                        <h3>Await Delivery</h3>
                    </div>
                    <p>Relax as we prepare your fresh, wholesome dishes with care. Our efficient delivery team will then bring your order swiftly and safely directly to your preferred location.</p>
                </div>
            </div>

            <div class="how-it-works__container-steps">
                <span class="how-it-works__container-steps__number">3</span>

                <div class="how-it-works__container-steps__card">
                    <div class="how-it-works__container-steps__card__title">
                        <img src="{% static 'img/enjoy_meal.jpg' %}" alt="">
                        <h3>Enjoy Your Meal</h3>
                    </div>
                    <p>Unpack your perfectly portioned, nutritious meal designed for optimal health. Savor every bite, knowing you've made a smart and delicious choice for your well-being.</p>
                </div>
            </div>
            
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock %}