{% extends 'base.html' %}
{% load static %}
{% block title %}FitFuel - Menu{% endblock %}
{% block content %}
{% include 'header.html' %}

<div class="menu-container">
    {% for category in menu_categories %}
        <div class="category-container">
            <div class="category-container__title">{{ category.name }}</div>

            <div class="category-container__decal">
                <div class="horizontal-lines">
                    <hr class="line">
                    <hr class="line">
                </div>

                <div class="category_badge">
                    <img src="{% static 'categories/frame.png' %}" alt="Category Badge Frame" class="category_badge__frame">
                    <img src="{{ category.image_url }}" alt="Category Icon" class="category_badge__category-icon">
                </div>

                <div class="horizontal-lines">
                    <hr class="line">
                    <hr class="line">
                </div>
            </div>
        </div>

        <div class="menu-item-grid">
            {% for item in menu_items %}
                {% if item.category.id == category.id %}
                <div class="item-container">

                    <div class="item-container__item-image">
                        <img src="{{ item.image_url }}" alt="Food Item Image" class="item-image">
                    </div>

                    <div class="item-container__title">{{ item.name }}</div>

                    <div class="item-container__macros">
                        <div class="item-container__macros-carbs custom-pill" data-type="carbs">Carbs: 35g</div>
                        <div class="item-container__macros-protein custom-pill" data-type="protein">Protein: 20g</div>
                        <div class="item-container__macros-fats custom-pill" data-type="fats">Fats: 15g</div>
                        <div class="item-container__macros-calories custom-pill" data-type="calories">Kcal: 380</div>
                    </div>

                    <div class="item-container__item-description">{{ item.description }}</div>

                    <form class="item-container__portion-container">
                        {% for portion in item.portions.all %}
                            {% with calculated_macros=portion.calculate_macros_for_portion %}
                            <div class="item-container__portion-container-option">
                                <input type="radio" id="portion-{{ portion.id }}" name="selected_portion" 
                                       value="{{ portion.id }}" {% if forloop.first %}checked{% endif %}
                                       data-carbs="{{ calculated_macros.carbs }}" data-proteins="{{ calculated_macros.protein }}"
                                       data-fats="{{ calculated_macros.fats }}" data-calories="{{ calculated_macros.calories }}">
                                <label for="portion-{{ portion.id }}">
                                    <span class="item-container__portion-container-option__name">{{ portion.name }}</span>
                                    <span class="item-container__portion-container-option__price">{{ portion.price }}€</span>
                                </label>
                            </div>
                            {% endwith %}
                        {% endfor %}
                    </form>

                    <div class="item-container__cart-button">
                        <a id="{{ item.id }}" href="#" data-image="{{ item.image_url }}" data-name="{{ item.name }}">Add to Cart</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% include 'footer.html' %}
{% endblock %}