{% extends 'food/base.html' %}
{% block title %}FitFuel - Log In{% endblock %}
{% block content %}
{% include 'food/header.html' %}

<div class="auth-form-container decal-background">
    <div class="card-form round-card auth-form">
        <h1 class="card-title">Login</h1>
        <form method="POST" class="card-form__form">
            {% csrf_token %}
            <div class="card-form__form-section">
                <label>Email</label>
                <div class="card-form__form-section-field">{{ login_form.email }}</div> 
            </div>
            <div class="card-form__form-section">
                <label>Password</label>
                <div class="card-form__form-section-field">{{ login_form.password }}</div> 
            </div>

            <button class="main-button" type="submit">Login</button>
        </form>
    </div>
</div>

{% include 'food/footer.html' %}
{% endblock %}