{% extends 'food/base.html' %}
{% block title %}FitFuel - Order #{{ order.id }} {% endblock %}
{% block content %}
{% include 'food/header.html' %}

<div class="page-container decal-background order-view">
    <div class="order straight-card">
        <h1 class="card-title">Order #{{ order.id }}</h1>
        <div class="cart-list">
            {% for item in context_items %}
            <div class="cart-list__item">
                <img src="{{ item.image_url }}" alt="" class="cart-list__item-image">
                <div class="cart-list__item-info">
                    <div class="cart-list__item-info-name">{{ item.menu_item_name }}</div>
                    <div class="cart-list__item-info-portion">
                        <div class="cart-list__item-info-portion-size">{{ item.portion_name }}</div>
                        <div class="cart-list__item-info-portion-quantity">x{{ item.quantity }}</div>
                    </div>
                </div>
                <div class="cart-list__item-price">{{ item.price_per_item }}€</div>
            </div>
            {% endfor %}

        </div>
        <div class="order__total">Total: {{ order.total_price }}€</div>
    </div>
</div>

{% include 'food/footer.html' %}
{% endblock %}