{% extends 'food/base.html' %}
{% block title %}FitFuel - Sign Up{% endblock %}
{% block content %}
{% include 'food/header.html' %}

<div class="auth-form-container decal-background">
    <div class="card-form round-card auth-form">
        <h1 class="card-title">Register</h1>
        <form method="POST" class="card-form__form">
            {% csrf_token %}
            <div class="card-form__form-section">
                <label>Email</label>
                <div class="card-form__form-section-field">{{ register_form.email }}</div> 
            </div>
            <div class="card-form__form-section">
                <label>First Name</label>
                <div class="card-form__form-section-field">{{ register_form.first_name }}</div> 
            </div>
            <div class="card-form__form-section">
                <label>Last Name</label>
                <div class="card-form__form-section-field">{{ register_form.last_name }}</div> 
            </div>
            <div class="card-form__form-section">
                <label>Password</label>
                <div class="card-form__form-section-field">{{ register_form.password }}</div> 
            </div>
            <div class="card-form__form-section">
                <label>Confirm Password</label>
                <div class="card-form__form-section-field">{{ register_form.password_confirm }}</div> 
            </div>

            <button class="main-button" type="submit">Register</button>
        </form>
    </div>
</div>
    
{% include 'food/footer.html' %}
{% endblock %}